.project-cont {
    width: 100%;
    height: 75vh;
}

.project-cont--intro {
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
}

.project-cont-intro--heading{
    color: #42446E;
    margin-top: 30px;
    font-weight: 700;
}

.project-cont-intro--txt{
    color: #666666;
    margin-top: 30px;
    font-weight: 400;
}

.plc{
   margin-top: 50px;
  }


  @media (max-width:767px) {
    .project-cont {
        width: 100%;
        
    }
    
    .project-cont--intro {
        width: 100%;
        margin-left: 1px;
        margin-top: 50px;
    }
    
    .project-cont-intro--heading{
        color: #42446E;
        margin-top: 30px;
        font-weight: 700;
        text-align: center;
    }
    
    .project-cont-intro--txt{
        color: #666666;
        margin-top: 30px;
        font-weight: 400;
        text-align: center;
        font-size: 15px;
    }
    
  }


  @media (min-width:768px) {
    .project-cont {
        width: 100%;
        
    }
    
    .project-cont--intro {
        width: 100%;
        margin-left: 1px;
        margin-top: 50px;
    }
    
    .project-cont-intro--heading{
        color: #42446E;
        margin-top: 30px;
        font-weight: 700;
        text-align: center;
    }
    
    .project-cont-intro--txt{
        color: #666666;
        margin-top: 30px;
        font-weight: 400;
        text-align: center;
        font-size: 18px;
    }
    
  }

  @media (min-width:1024px) {
    .project-cont {
        width: 100%;
    }
    
    .project-cont--intro {
        width: 100%;
        margin-left: 276px;
        margin-top: 50px;
    }
    
    .project-cont-intro--heading{
        color: #42446E;
        margin-top: 30px;
        font-weight: 700;
        text-align: left;
    }
    
    .project-cont-intro--txt{
        color: #666666;
        margin-top: 30px;
        font-weight: 400;
        text-align: left;
        font-size: 18px;
    }
    
    
  }


   @media (min-width:1024px) {
    .project-cont {
        width: 100%;
    }
    
    .project-cont--intro {
        width: 100%;
        margin-left: 259px;
        margin-top: 50px;
    }
    
    .project-cont-intro--heading{
        color: #42446E;
        margin-top: 30px;
        font-weight: 700;
        text-align: left;
    }
    
    .project-cont-intro--txt{
        color: #666666;
        margin-top: 30px;
        font-weight: 400;
        text-align: left;
        font-size: 18px;
    }
    
    
  }