
.hero-cont{
    
    display: flex;
    height: 400px;
    width: 100%;
    padding-top: 50px;
}

.hero-txt{
    width: 35%;
}
.hero-txt h1{
    color: #42446E;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.hero-txt--about{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
}

.social-txt{
    font-size: 17px;
    font-weight: 500;
    color: #555;
    margin-top: 50px;
}

.hero-img-cont{
    width: 16%;
    display: block;
}
.hero-img-cont img{
    margin-top: 20px;
    width: 100%;
}


.social-cont--icon{
    margin-left: 20px;

}
.social-cont--icon img{
    width: 6%;
    margin-left: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.social-cont--icon img:hover{
    transition: all .3s ease-in-out;
    top: -8px;
}

@media (max-width: 767px) {
    .hero-cont{
        display: flex;
        height: 480px;
        width: 100%;
        padding-top: 50px;
    }
    
    .hero-txt{
        width: 100%;
    }
    .hero-txt h1{
        color: #42446E;
        font-size: 2.3rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
        font-weight: 600;
    }
    
    .hero-txt--about{
        color: #555;
        font-family: Mulish, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6;
        text-align: center;
    }
    
    .social-txt{
        font-size: 17px;
        font-weight: 500;
        color: #555;
        margin-top: 50px;
        text-align: center;
    }
    
    .hero-img-cont{
       display: none;
    }
    
    
    .social-cont--icon{
        margin-left: 10px;
    
    }
    .social-cont--icon img{
        width: 6%;
        margin-left: 10px;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    
    
}


@media (min-width: 768px) {
    .hero-cont{
        
        display: flex;
        height: 450px;
        width: 100%;
        padding-top: 50px;
    }
    
    .hero-txt{
        width: 100%;
    }
    .hero-txt h1{
        color: #42446E;
        font-size: 2.3rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
        font-weight: 600;
    }
    
    .hero-txt--about{
        color: #555;
        font-family: Mulish, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6;
        text-align: center;
    }
    
    .social-txt{
        font-size: 17px;
        font-weight: 500;
        color: #555;
        margin-top: 50px;
        text-align: center;
    }
    
    .hero-img-cont{
        display: none;
    }
    
    .social-cont--icon{
        margin-left: 10px;
    
    }
    .social-cont--icon img{
        width: 3%;
        margin-left: 10px;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    
   
    
}


@media (min-width:1280px) {
    .hero-cont{
        display: flex;
        height: 480px;
        width: 100%;
        padding-top: 50px;
    }
    
    .hero-txt{
        width: 35%;
        margin-left: 255px;
    }
    .hero-txt h1{
        color: #42446E;
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align:left;
    }
    
    .hero-txt--about{
        color: #555;
        font-family: Mulish, sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.6;
        text-align:left;
    }
    
    .social-txt{
        font-size: 17px;
        font-weight: 500;
        color: #555;
        margin-top: 50px;
        text-align:left;
    }
    
    .hero-img-cont{
        width: 18%;
        margin-left: -120px;
        display: block;
    }
    .hero-img-cont img{
        margin-top: 20px;
        width: 100%;
    }
    
    
    .social-cont--icon{
        margin-left: 10px;
    
    }
    .social-cont--icon img{
        width: 5%;
        margin-left: 10px;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    
    
}