
.hero-cont{
    background-color: #f9f9f9;
    display: flex;
    height: 500px;
    width: 100%;
    padding-top: 50px;
}

.hero-txt{
    /* border: 1px solid red; */
    width: 35%;
}
.hero-txt h1{
    color: #2d2e32;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.hero-txt--about{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
}

.tech-stack--txt{
    font-size: 17px;
    font-weight: 500;
    color: #555;
    margin-top: 50px;
}

.hero-img-cont{
    /* border: 1px solid red; */
    width: 16%;
    margin-left: -300px;
}
.hero-img-cont img{
    margin-top: 30px;
    width: 100%;
}


.tech-stack--cont{
    align-items: center;
}

.skill-icons--cont{
    margin-top: 30px;
   cursor: pointer;

}

.html-js--skills{
    width: 16%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.html-js--skills:hover{
    transition: all .3s ease-in-out;
    top: -10px;
}

.bs-tw--skills{
   width: 16%;
   margin-left: 30px;
   position: relative;
   top: 0;
   transition: top ease 0.5s;
}
.bs-tw--skills:hover{
    transition: all .3s ease-in-out;
    top: -10px;
}

.react--skill{
   margin-left: 30px;
   width: 16%;
   position: relative;
   top: 0;
   transition: top ease 0.5s;
}
.react--skill:hover{
    transition: all .3s ease-in-out;
    top: -10px;
}