
.about-cont{
    background-color: #6E07F3;
    height: 400px;
    display: flex;
}

.about-cont img{
  width: 40%;
  margin-left: 150px;
}


.about-txt{
    margin-top: 100px;
    margin-left: -140px;
}

.about-name{
    color: white;
    font-family: Mulish, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 50%;
 }

 .about-stack{
    color: white;
    font-family: Mulish, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 50%;
    padding-top: 20px;
 }

 .about-role{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: 50%;
 }

 .about-heading{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: 50%;
 }