
.about-cont{
    background-color: #6E07F3;
    height: 450px;
    display: flex;
}

.about-cont img{
  width: 30%;
  margin-left: 250px;
  margin-top: -90px;
}


.about-txt{
    margin-top: 100px;
    margin-left: -170px;
    text-align: left;
    width: 60%;
}

.about-name{
    color: white;
    font-family: Mulish, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 50%;
 }

 .about-stack{
    color: white;
    font-family: Mulish, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 50%;
    padding-top: 20px;
 }

 .about-role{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: 50%;
 }

 .about-heading{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: 50%;
 }



 @media (max-width:600px) {
   .about-cont{
      background-color: #6E07F3;
      height: 600px;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
  }
  
  .about-cont img{
    width: 70%;
    margin: 0 auto;
  }
  
  
  .about-txt{
      margin-top: 60px;
      margin-left: 0px;
      text-align: center;
      width: 100%;
  }
  
  .about-name{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
   }
  
   .about-stack{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
      padding-top: 20px;
   }
  
   .about-role{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 60%;
   }
  
   .about-heading{
      color: white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 50%;
   }
 }


 @media (min-width:768px) {
   .about-cont{
      background-color: #6E07F3;
      height: 650px;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
  }
  
  .about-cont img{
    width: 70%;
    margin: 0 auto;
  }
  
  
  .about-txt{
      margin-top: 60px;
      margin-left: 0px;
      text-align: center;
      width: 100%;
  }
  
  .about-name{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
   }
  
   .about-stack{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
      padding-top: 20px;
   }
  
   .about-role{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 60%;
   }
  
   .about-heading{
      color: white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 50%;
   }
 }

 @media (min-width:1024px) {
   .about-cont{
      background-color: #6E07F3;
      height: 650px;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
  }
  
  .about-cont img{
    width: 70%;
    margin: 0 auto;
  }
  
  
  .about-txt{
      margin-top: 60px;
      margin-left: 0px;
      text-align: center;
      width: 100%;
  }
  
  .about-name{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
   }
  
   .about-stack{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 80%;
      padding-top: 20px;
   }
  
   .about-role{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 60%;
   }
  
   .about-heading{
      color: white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 50%;
   }
 }

 @media (min-width:1280px) {
   .about-cont{
      background-color: #6E07F3;
      height: 450px;
      display: flex;
      padding-top: 50px;
      flex-direction: row;
  }
  
  .about-cont img{
   width: 40%;
   margin-left: 200px;
   margin-top: -50px;
 }
 
  .about-txt{
      margin-top: 60px;
      margin-left: -150px;
      width: 60%;
      text-align: left;
  }
  
  .about-name{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 50%;
   }
  
   .about-stack{
      color: white;
      font-family: Mulish, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      width: 50%;
      padding-top: 20px;
   }
  
   .about-role{
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 50%;
   }
  
   .about-heading{
      color: white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 50%;
   }
 }