.contact-cont{
    text-align: center;
    padding-top: 50px;
    background-color: #6E07F3;
    height: 200px;
}
.contact-cont h2{
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}
.social-icons{
   margin-left: 30px;
}
.social-icons--cont{
    margin-left: -30px;
    padding-top: 20px;
}

