.nav-cont{
   
    background-color: white;
    align-items: center;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-txt{
    width: 40%;
}

.nav-txt a{
    color: black;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.nav-txt a:hover{
    color: #f3873a;
    transition: .2s all;
    /* border-bottom: 3px dotted #f3873a; */
}

.nav-img{
    width: 20%;
    margin-left: 130px;
    padding-top: 10px;
}

.nav-img img{
   width: 90px;
   height: 90px;
   border-radius: 100px;
   margin-left: 30px;
}