.nav-cont{
   
    background-color: white;
    align-items: center;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.move{
    margin-left: 320px;
}

.nav-txt{
    width: 40%;
    margin-top: 2px;
}

.nav-txt a{
    color: black;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.nav-txt a:hover{
    color: #6E07F3;
    transition: .2s all;
}

.nav-img{
    width: 20%;
    margin-left: 270px;
}

.nav-img img{
    margin-top: 1px;
   margin-left: 30px;
}


@media (max-width:600px) {
   
    
    .move{
        margin-left: 0px;
    }
    
    .nav-txt{
        width: 40%;
    }
    
    .nav-img{
        width: 16%;
        margin-left: 20px;
    }
    
    .nav-img img{
        margin-top: 1px;
    }
}



@media (min-width:768px){

    .move{
        margin-left: 0px;
    }
    
    .nav-txt{
        width: 40%;
    }
    
    .nav-img{
        width: 16%;
        margin-left: 20px;
    }
    
    .nav-img img{
        margin-top: 1px;
    }
}


@media (min-width:900px){

    .move{
        margin-left: 0px;
    }
    
    .nav-txt{
        width: 40%;
    }
    
    .nav-img{
        width: 16%;
    }
    
    .nav-img img{
        margin-top: 1px;
    }
}

@media (min-width:1024px){
    .move{
        margin-left: 0px;
    }
    
    .nav-txt{
        width: 40%;
    }
    
    .nav-img{
        width: 16%;
    }
    
    .nav-img img{
        margin-top: 1px;
    }
}

@media (min-width:1280px){
    .move{
        margin-left: 0px;
    }
    
    .nav-txt{
        width: 40%;
    }
    
    .nav-img{
        width: 16%;
       margin-left: 200px;
    }
    
    .nav-img img{
        margin-top: 1px;
    }
}