.footer-cont{
    text-align: center;
    margin-top: 100px;
}
.footer-cont p{
    font-size: 20px;
    font-weight: 500;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cont{
    margin-left: 220px;
}

.contact-info--txt{
    display: flex;
    gap: 40px;
    align-self: center;
    padding-top: 13px;
    margin-left: 20px;
}

.social-icons--cont{
    display: flex;
    gap: 30px;
    align-items: center;
    align-content: center;
    margin-left: -40px;
}

.hr{
    width: 73%;
    margin: auto;
}


@media (max-width: 640px) {

    .footer-cont{
        text-align: center;
        margin-top: 80px;
    }

    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .logo-cont{
        margin-left: 40px;
    }
    
    .contact-info--txt{
        display: flex;
        gap: 1px;
        align-self: center;
        padding-top: 13px;
        margin-left: 10px;
        flex-direction: column;
    }

    .phone-no{
        margin-left: 31px;
    }

    .email-address{
        margin-left: 35px;
    }
    
    .social-icons--cont{
        display: flex;
        gap: 30px;
        align-items: center;
        align-content: center;
        margin-left: 43px;
    }
    
    .hr{
        width: 100%;
        margin: auto;
    }
}


@media (min-width: 768px) {
    
    .footer-cont{
        text-align: center;
        margin-top: 80px;
    }

    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .logo-cont{
        margin: auto;
    }
    
    .contact-info--txt{
        display: flex;
        gap: 30px;
        align-self: center;
        padding-top: 13px;
        margin: auto;
    }
    
    .social-icons--cont{
        display: flex;
        gap: 30px;
       margin: auto;
    }
    
    .hr{
        width: 100%;
        margin: auto;
    }
    
}

@media (min-width: 820px) {
    
    .footer-cont{
        text-align: center;
        margin-top: 80px;
    }

    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .logo-cont{
        margin: auto;
    }
    
    .contact-info--txt{
        display: flex;
        gap: 30px;
        align-self: center;
        padding-top: 13px;
        margin: auto;
    }
    
    .social-icons--cont{
        display: flex;
        gap: 30px;
       margin: auto;
    }
    
    .hr{
        width: 100%;
        margin: auto;
    }
    
}

@media (min-width:1024px) {
    
    
    .footer-cont{
        text-align: center;
        margin-top: 100px;
    }
    .footer-cont p{
        font-size: 20px;
        font-weight: 500;
    }
    
    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-cont{
        margin: auto;
    }
    
    .contact-info--txt{
        display: flex;
        gap: 10px;
        align-self: center;
        padding-top: 13px;
        margin: auto;
    }
    
    .social-icons--cont{
        display: flex;
        gap: 30px;
        margin: auto;
        text-align: center;
    }
    
    .hr{
        width: 78%;
        margin: auto;
    }
    
}


@media (min-width:1280px) {
    
    .footer-cont{
        text-align: center;
        margin-top: 100px;
    }
    .footer-cont p{
        font-size: 20px;
        font-weight: 500;
    }
    
    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-cont{
        margin: auto;
    }
    
    .contact-info--txt{
        display: flex;
        gap: 40px;
        align-self: center;
        padding-top: 13px;
        margin: auto;
    }
    
    .social-icons--cont{
        display: flex;
        gap: 30px;
        align-items: center;
        align-content: center;
        margin: auto;
    }
    
    .hr{
        width: 73%;
        margin: auto;
    }
    
}