.plc {
  display: flex;
  gap: 30px;
}


.mr_fresh-card {
  width: 273px;
  height: 245px;
  gap: 0px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px #000000;
}

.mr_fresh-card--img {
  width: 273px;
  height: 208px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.mini_unsplash-card {
  width: 273px;
  height: 245px;
  gap: 0px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px #000000;
}

.mini_unsplash--img {
  width: 100%;
  height: 208px;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
  transform: rotateY(30deg);
}

.card-txt {
  padding-top: 10px;
}

.card-txt h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;

}

.card-txt-info--cont {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  padding-left: 13px;
  padding-right: 13px;
  color: #666666;
}

.card-txt-stack--cont {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #666666;
}

.tech-stack {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.card-links {
  display: flex;
  padding-top: 10px;
}

.demo-link {
  color: black;
  font-size: 13px;
  text-decoration: underline;
  display: flex;
  margin-left: 18px;
}

.code-link {
  color: black;
  font-size: 13px;
  text-decoration: underline;
  display: flex;
}

.code-link:hover {
  color: #42446E;
}

.github-link:hover {
  color: #42446E;
}

.link-icon {
  padding-right: 8px;
  transform: rotate(50deg);
  font-size: 17px;
}

.github-icon {
  font-size: 15px;
  padding-right: 8px;
}